@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.scroll-gallery-wrapper:nth-of-type(1) {
  top: -45%;
}
.scroll-gallery-wrapper:nth-of-type(2) {
  top: -95%;
}
.scroll-gallery-wrapper:nth-of-type(3) {
  top: -45%;
}
.scroll-gallery-wrapper:nth-of-type(4) {
  top: -75%;
}

/* 3d-Earth */
.threeEarthTitle-p:nth-of-type(2) {
  display: block;
  position: absolute;
  color: #1c1c1c;
  top: 0;
  z-index: 1;
}
.threeEarthDescription {
  clip-path: inset(50% 0 50%);
  transition: clip-path 0.4s;
}

.threeEarthDescription-p:nth-of-type(1) {
  color: #010101;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 8vw;
  line-height: 7.5vw;
  margin: 0px;
  position: relative;
  z-index: 1;
}
.threeEarthDescription-p:nth-of-type(2) {
  width: 40%;
  font-size: 1vw;
  font-weight: 700;
}
