@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.scroll-gallery-wrapper:nth-of-type(1) {
  top: -45%;
}
.scroll-gallery-wrapper:nth-of-type(2) {
  top: -95%;
}
.scroll-gallery-wrapper:nth-of-type(3) {
  top: -45%;
}
.scroll-gallery-wrapper:nth-of-type(4) {
  top: -75%;
}

/* 3d-Earth */
.threeEarthTitle-p:nth-of-type(2) {
  display: block;
  position: absolute;
  color: #1c1c1c;
  top: 0;
  z-index: 1;
}
.threeEarthDescription {
  clip-path: inset(50% 0 50%);
  transition: clip-path 0.4s;
}

.threeEarthDescription-p:nth-of-type(1) {
  color: #010101;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 8vw;
  line-height: 7.5vw;
  margin: 0px;
  position: relative;
  z-index: 1;
}
.threeEarthDescription-p:nth-of-type(2) {
  width: 40%;
  font-size: 1vw;
  font-weight: 700;
}

/* Card Flip  */
.flip-card {
  perspective: 1000px;
}
.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}
.flip-card-back {
  transform: rotateY(180deg);
}

/* pixel-transition */
.berger::before,
.berger::after {
  display: block;
  content: '';
  width: 30px;
  height: 2px;
  background-color: white;
  position: relative;
  transition: transform 0.3s;
}
.berger::after {
  top: -5px;
}

.berger::before {
  top: 5px;
}
.burgerActive::after {
  transform: rotate(45deg);
  top: -1px;
}
.burgerActive::before {
  transform: rotate(-45deg);
  top: 0px;
}

/* sign in form  */
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: 1px;
  /* background-color: #1f293a; */
  background-color: black;
  padding: 0 6px;
  color: #0ef;
}

.container span {
  position: absolute;
  width: 38px;
  height: 10px;
  background: #2c4766;
  left: -40px;
  top: 50%;
  border-radius: 8px;
  transform-origin: 240px;
  transform: rotate(calc(var(--i) * (360deg / 50)));
  animation: animateBlink 3s infinite linear;
  animation-delay: calc(var(--i) * (3s / 50));
}

@keyframes animateBlink {
  0% {
    background: #0ef;
  }
  25% {
    background: #2c4766;
  }
}
